<% content_for :head do %>
	
	<title>Home :: RBlog</title>
	
<% end %>

<% content_for :body do %>
	
	<%= content_tag(:div, :id => 'rblog_right_column') do %>
    	
       	<%= content_tag(:div, render(@posts) || content_tag(:h3, 'No posts to display.'), :id => 'rblog_main') %>
        <%= link_to("Next", {:controller => 'posts', :action => 'home', :user => @rBlogAuthor, :page => (@postsPage + 1)}, :class => 'next') if ((@postsPage >= 0) && (@postsPage < @postsPageCount)) %>
        <%= link_to("Previous", {:controller => 'posts', :action => 'home', :user => @rBlogAuthor, :page => (@postsPage - 1)}, :class => 'previous') if ((@postsPage > 0 && @postsPage <= @postsPageCount)) %>
        
  	<% end %>
	
<% end %>
