<% content_for :head do %>
	
	<title>Sitemap :: RBlog</title>
	
<% end %>

<% content_for :body do %>
	
	<%= content_tag(:div, render(:partial => 'user', :collection => @users, :as => :user) || content_tag(:h3, 'No authors found.') , :id => 'rblog_right_column') %>
    
<% end %>

