
<% if errorMessages && errorMessages.errors.any? %>
	
	<ul class="error_messages">
		
		<% errorMessages.errors.full_messages.each do |error_message| %>
			
			<li> <%= error_message %> </li>
			
		<% end %>
		
	</ul>
	
<% end %>
